services:
  redis:
    image: bitnami/redis:latest
    restart: always
    volumes:
      - redis-data:/bitnami/redis/data
    ports:
      - '6379:6379'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-secret}
      REDIS_PORT_NUMBER: 6379
    networks:
      - net

  app:
    image: demorfi/synox-web:latest
    restart: always
    volumes:
      - storage:/synox-web/storage
      - files:/synox-web/public/files
    ports:
      - '8002:80'
      - '2346:2346'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-secret}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - net
    depends_on:
      - redis

volumes:
  redis-data:
  storage:
  files:

networks:
  net:
    driver: bridge